
{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

{% import "pip17/elements.html" as elements %}
{% for page in data %}
{% for question in page.healthcareprofessional %}
<main id="content" role="main">


	<div class="grid-row">

		<div class="column-two-thirds">

			<form action="/pip17/checkYourEmail" class="form">

	<a href="/" class="link-back">Back</a>


	<header>
		<h1 class="form-title heading-xlarge ">
Your application		</h1>
	</header>
	<br>




				<p>To start or continue your application, enter your email address.</p>

				<div class="form-group">
    <div class="form-group" id="form-group-email">

     <label class="form-label" for="email">


Enter your email address
     <p class="form-hint">You&#39;ll be sent an email with a secure link in it. You need to click on the link in the next hour.</p>
     </label>


        <input type="text" class="form-control
" id="email" name="email"  value="">
      </div>
				</div>

				<div class="form-group">
					<input type="submit" class="button" name="retrieve" value='Continue'>
				</div>

			</form>

		</div>


<div>
	{{ elements.helpline(page) }}
	</div>
</div>
</div>
</main>

{% endfor %}
{% endfor %}
{% endblock %}
