
{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

{% import "release2-1/elements.html" as elements %}
{% for page in data %}
{% for question in page.healthcareprofessional %}

<main id="content" role="main">

	<div class="grid-row">

		<div class="column-two-thirds">

			<form action="/" class="form">

	<a href="/" class="link-back">Back</a>





	<header>
		<h1 class="form-title heading-xlarge ">
Check your email		</h1>
	</header>
  <br>

				<p>An email has been sent to <span class="bold-small">emailaddress@gmail.com</span>. Click on the link in the email to apply for Personal Independance Payment (PIP). </p>
				<p>Check your &#39;spam&#39; folder if the email is not in your inbox.</p>
				<p>If you have not got the email within one hour  <a href="/release2-1/emailLogin">enter your email address</a> again. </p>

			</form>

		</div>
{{ elements.helpline(page) }}
{{ elements.validation(page,question) }}
</div>
</main>

{% endfor %}
{% endfor %}
{% endblock %}
