{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

{% import "release2-1/elements.html" as elements %}
{% for page in data %}
{% for question in page.gettingOut %}
<main id="content" role="main">
	{{ elements.backButton(page,question) }}

	<div class="grid-row">
			<div class="column-two-thirds">

				<form action="/release2-1/gettingOut{% if edit %}?edit=true{% endif %}" method="post" class="form form-group-frequency">
					{{ elements.header(page,question) }}

					<div class="form-group" id="form-group-frequency">
			      <fieldset>
			        <legend class="form-label" id="frequency" for="frequency">
			        <span class="frequency-question">Does your condition affect you getting out and walking about?</span>

			         <p class="form-hint">This includes if you find any part difficult or if you rely on someone to encourage you or help you leave your home.</p>

			        </legend>


			          		<label class="block-label" for="pip.radio.allthetime.id"  data-target="details" >
									<input id="pip.radio.allthetime.id" type="radio" name="frequency" value="All the time">
									 All the time
							</label>
			          		<label class="block-label" for="pip.radio.morethanhalf.id"  data-target="details" >
									<input id="pip.radio.morethanhalf.id" type="radio" name="frequency" value="More than half the time">
									 More than half the time
							</label>
			          		<label class="block-label" for="pip.radio.lessthanhalf.id"  data-target="details" >
									<input id="pip.radio.lessthanhalf.id" type="radio" name="frequency" value="Less than half the time">
									 Less than half the time
							</label>
			          		<label class="block-label" for="pip.radio.noneofthetime.id" >
									<input id="pip.radio.noneofthetime.id" type="radio" name="frequency" value="None of the time">
									 None of the time
							</label>
			          		<label class="block-label" for="pip.radio.tellushowOften.id"  data-target="details" >
									<input id="pip.radio.tellushowOften.id" type="radio" name="frequency" value="Tell us how often in your own words">
									 Tell us how often in your own words
							</label>

			      </fieldset>
			      </div>
						<div class="panel-indent 	js-hidden
			" id="details">

							<div id="how-often" class="form-group js-hidden">
			    <div class="form-group" id="form-group-howOften">

			     <label class="form-label-bold" for="howOften">


			How often are you affected?

			     </label>


			        <input type="text" class="form-control
			" id="howOften" name="howOften"  value="">
			      </div>
							</div>

							<fieldset id="howFar" class="form-group ">
			             		<legend class="form-label-bold">How far can you walk without stopping?</legend>
			             		<p class="form-hint">Tick all that apply</p>

					<label class="block-label" for="outOfHome-id"  >
						<input type="checkbox" id="outOfHome-id" name="goingOutOptionsList[0].option"

							value="You cannot leave your home"
							 />
			     	You cannot leave your home
			     </label>

					<label class="block-label" for="toCar-id"  >
						<input type="checkbox" id="toCar-id" name="goingOutOptionsList[1].option"

							value="5 to 20 metres (eg to the street outside your home)"
							 />
			     	5 to 20 metres (eg to the street outside your home)
			     </label>

					<label class="block-label" for="endOfStreet-id"  >
						<input type="checkbox" id="endOfStreet-id" name="goingOutOptionsList[2].option"

							value="20 to 50 metres (eg to the end of your street)"
							 />
			     	20 to 50 metres (eg to the end of your street)
			     </label>

					<label class="block-label" for="localShop-id"  >
						<input type="checkbox" id="localShop-id" name="goingOutOptionsList[3].option"

							value="50 to 100 metres (eg around the supermarket)"
							 />
			     	50 to 100 metres (eg around the supermarket)
			     </label>

					<label class="block-label" for="supermarket-id"  >
						<input type="checkbox" id="supermarket-id" name="goingOutOptionsList[4].option"

							value="100 to 200 metres (eg to the local shop)"
							 />
			     	100 to 200 metres (eg to the local shop)
			     </label>

					<label class="block-label" for="aroundTown-id"  >
						<input type="checkbox" id="aroundTown-id" name="goingOutOptionsList[5].option"

							value="Over 200 metres (eg around town)"
							 />
			     	Over 200 metres (eg around town)
			     </label>

					<label class="block-label" for="anythingElse-id"  data-target="anythingElse-details"  >
						<input type="checkbox" id="anythingElse-id" name="goingOutOptionsList[6].option"

							value="Explain in your own words"
							 />
			     	Explain in your own words
			     </label>
										<fieldset id="anythingElse-details" class="other-field js-hidden  panel-indent form-group-related">

			   <div class="form-group" id="form-group-goingOutOptionsList[6].otherDesc">
			     <label class="form-label" for="goingOutOptionsList[6].otherDesc">


			     <span class="visuallyhidden">Explain in your own words</span>

			     </label>
			     <input type="text" class="form-control" id="goingOutOptionsList[6].otherDesc" name="goingOutOptionsList[6].otherDesc" value="">
			  </div>
										</fieldset>
							</fieldset>
			        <div class="form-group">
									<label class="form-label-bold" for="detailsWhy">

			Why does your condition affect you getting out and walking about?
									</label>

									<textarea maxLength="1500" class="form-control-3-4  " id="detailsWhy" name="detailsWhy"></textarea>
									<span class="font-xsmall js-hidden form-control-3-4 form-hint character-count"><span class="char-count">1500</span> characters left</span>
					</div>
			        <div class="form-group">
									<label class="form-label-bold" for="detailsHow">

			How do you get out and walk about?						<p class="form-hint">Include if you have to use a wheelchair or other mobility aid.</p>
									</label>
									<textarea maxLength="1500" class="form-control-3-4  " id="detailsHow" name="detailsHow"></textarea>
									<span class="font-xsmall js-hidden form-control-3-4 form-hint character-count"><span class="char-count">1500</span> characters left</span>
					</div>
						</div>

					{{ elements.submit(page,question) }}

        </form>
			</div>
				{{ elements.helpline(page) }}
{{ elements.validation(page,question) }}
	</div>

</main>

{% endfor %}
{% endfor %}
{% endblock %}
