

{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

{% import "release2-1/elements.html" as elements %}
{% for page in data %}
{% for question in page.healthcareprofessional %}
<main id="content" role="main">
	{{ elements.backButton(page,question) }}

	<div class="grid-row">
			<div class="column-two-thirds">

				<form action="/release2-1/healthcareprofessional{% if edit %}?edit=true{% endif %}" method="post" class="form">
					{{ elements.header(page,question) }}

					{% set seq  = [
						{"id":"contactHcp","value":"Yes","showPanel":"hcpDetails"},
						{"id":"contactHcp", "value":"No"}
					] %}
					{{ elements.radioSelect('contactHcp',question.question,"",answers.contactHcp,seq,"inline") }}

					<div class="form-group {% if answers.contactHcp != 'Yes' %}js-hidden{% endif %}" id="hcpDetails">
						<ul class="list-user-input">
							{% for i in range(1, 6) -%}

								<li id="condition-row-{{i}}" class="condition-row {% if not loop.first and not answers['name' + i] %} js-hidden {% endif %}">

									<h2 class="heading-small">{{ question.rowHd }} {{i}}</h2>
									{% if not loop.first %}<a href="#" class="remove">{{ question.removeLink }}</a>{% endif %}

<!-- Profession dropdown from QA -->


									<div class="form-group" id="form-group-healthcareProfessionalList[0].profession">

			 <label class="form-label" for="healthcareProfessionalList[0].profession">
What is their profession?
 			 </label>

			 <select id="healthcareProfessionalList[0].profession" name="healthcareProfessionalList[0].profession" class="form-control form-select-control  hc-profession ">
					 <option>Please select</option>
						<option value="Community Psychiatric Nurse">Community Psychiatric Nurse</option>
						<option value="Counsellor">Counsellor</option>
						<option value="Doctor">Doctor</option>
						<option value="GP">GP</option>
						<option value="Key Worker">Key Worker</option>
						<option value="Occupational Therapist">Occupational Therapist</option>
						<option value="Physiotherapist">Physiotherapist</option>
						<option value="Social Worker">Social Worker</option>
						<option value="Specialist Nurse">Specialist Nurse</option>
						<option value="Teacher">Teacher</option>
						<option value="Other">Other</option>
			 </select>
	 </div>




	 <!-- End of Profession dropdown from QA -->

										{{ elements.genericInputList("name" + i,question.nameHd, answers["name" + i]) }}

										<fieldset class="form-group">
											<legend class="form-label">Address</legend>
											{{ elements.textInput('address1',answers.address1) }}
											{{ elements.textInput('address2',answers.address2) }}
											{{ elements.textInput('address3',answers.address3) }}
											<legend class="form-label">Postcode</legend>
											{{ elements.genericInput('postcode',question.question2, answers.postcode) }}
										</fieldset>

										{{ elements.genericInputList("phone" + i,question.phoneHd, answers["phone" + i]) }}

										{{ elements.genericInputList("lastSeen" + i,question.lastSeenHd, answers["lastSeen" + i]) }}

										{% if loop.last %}	<div class="form-group">
													<label class="heading-medium" for="otherHCPS">
														List any other professionals we can contact to get more information about your condition.</label>
														{{ elements.textarea("howDoes",question.question4,answers.howDoes,"",question.helpTextHd,question.helpText) }}
									</div> {% endif %}

								</li>
							{% endfor %}

							<a href="add-another" class="add-another" data-target="condition-row">Add another professional</a>


						</ul>
						<details class="help-text form-group">

		        <summary><span class="summary">If you change your mind about letting us get information from the professional(s) you've listed, contact us</span></summary>

		          <div class="panel-indent">

		            <p>phone: <span class="tel">0345 850 3322</span></p>
		            <p>textphone: <span class="tel">0345 601 6677</span></p>
		            <p>Monday to Friday, 8am to 6pm</p>
									<a href="https://www.gov.uk/call-charges" target="_blank">Find out about call charges</a>
		          </div>
		        </details>
          </div>


					{{ elements.submit(page,question) }}

        </form>
			</div>
				{{ elements.helpline(page) }}
{{ elements.validation(page,question) }}
	</div>

</main>

{% endfor %}
{% endfor %}
{% endblock %}
