{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

{% import "release2-1/elements.html" as elements %}
{% for page in data %}
{% for question in page.healthcareprofessional %}

<main id="content" role="main">
	{{ elements.backButton(page,question) }}

	<div class="grid-row">

		<div class="column-two-thirds">

		<form action="/release2-1/resumeApplication{% if edit %}?edit=true{% endif %}" method="post" class="form">




	<header>
		<h1 class="form-title heading-xlarge ">
Continue your application		</h1>
	</header>
  <br>
  <br>

			<p>You have until  <strong class="bold-small">(date specific to customer)</strong> to complete your application.</p>


    <div class="form-group" id="form-group-resume">
      <fieldset class="inline form-label">
        <legend class="form-label" id="resume" for="resume">
        <span class="frequency-question">Continue your application from:</span>



        </legend>


          		<label class="block-label" for="resume-end" >
						<input id="resume-end" type="radio" name="resume" value="where you left it">
						 where you left it
				</label>
          		<label class="block-label" for="resume-start" >
						<input id="resume-start" type="radio" name="resume" value="the start">
						 the start
				</label>

      </fieldset>
      </div>


	<div class="form-group">
		<input type="submit" class="button" value="Continue" name="continue" >
	</div>

		</form>

		</div>

  <div>
  	{{ elements.helpline(page) }}
{{ elements.validation(page,question) }}
  	</div>
  </div>
  </div>
  </main>

  {% endfor %}
  {% endfor %}
  {% endblock %}
