
{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

{% import "release2-1/elements.html" as elements %}
{% for page in data %}
{% for question in page.somethingGoneWrong %}
<main id="content" role="main">
	<div class="phase-banner-beta">
	<p>
	  <strong class="phase-tag" style="background-color: #9966FF">YSC&nbsp;Version</strong>
	  <span>This is for information only. No information is saved</span>
	</p>
	</div>


	<div class="grid-row">
		<div class="column-two-thirds">

			<form action="/release2-1/somethingGoneWrong" class="form">


	<header>
	<h1 class="form-title heading-xlarge ">Something's gone wrong</h1>
	</header>
	<br>
				<p>Try again in a few moments</p>

			</form>
		</div>

<div>
	{{ elements.helpline(page) }}
{{ elements.validation(page,question) }}
	</div>
</div>
</div>
</main>

{% endfor %}
{% endfor %}
{% endblock %}
