{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

{% import "release2-1/elements.html" as elements %}
{% for page in data %}
{% for question in page.manageMedications %}
<main id="content" role="main">
	{{ elements.backButton(page,question) }}

	<div class="grid-row">
			<div class="column-two-thirds">

      <div>
      <div>
      </div>
      {{ elements.helpline(page) }}
{{ elements.validation(page,question) }}
  </div>

</main>

{% endfor %}
{% endfor %}
{% endblock %}
