{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

{% import "release2-1/elements.html" as elements %}
{% for page in data %}
{% for yscMenu in dataCheckChange %}
{% for question in yscMenu.yscMenu %}
<main id="content" role="main">
	
	<div class="phase-banner-beta">
	<p>
	  <strong class="phase-tag" style="background-color: #9966FF">YSC&nbsp;Version</strong>
	  <span>This is for information only. No information is saved</span>
	</p>
	</div>

	<div class="grid-row">
			<form action="/release2-1/yscMenu{% if edit %}?edit=true{% endif %}" method="post" class="form pip-16">


					{{ elements.header(page,question) }}


				<div class="column-full yscMenuCont">

	        <a href="/release2-1/yscMenu"><h2 class="heading-medium heading-highlight"><span class="h2">About you</span></h2></a>
	          <ul>
	            <li>
								<div class="column-two-thirds">1 - Help with your application</div>
								{{ elements.EnterChangeAnswers(helper,"helper") }}
							</li>
							<li>
								<div class="column-two-thirds">2 - About you</div>
								{{ elements.EnterChangeAnswers(aboutYou,"aboutYou") }}
							</li>
							<li>
								<div class="column-two-thirds">3 - Your contact details</div>
								{{ elements.EnterChangeAnswers(contactDetails,"contactDetails") }}
							</li>
							<li>
								<div class="column-two-thirds">4 - Contact preferences</div>
								{{ elements.EnterChangeAnswers(contactPref,"contactPref") }}
							</li>
							<li>
								<div class="column-two-thirds">5 - Bank details</div>
								{{ elements.EnterChangeAnswers(bankDetails,"bankDetails") }}
							</li>
							<li>
								<div class="column-two-thirds">6 - Nationality and where you live</div>
								{{ elements.EnterChangeAnswers(nationality,"nationality") }}
							</li>
							<li>
								<div class="column-two-thirds">7 - Where you are now</div>
								{{ elements.EnterChangeAnswers(currentWhereabouts,"currentWhereabouts") }}
							</li>
	            <li>
								<div class="column-two-thirds">8 - Payments from abroad</div>
								{{ elements.EnterChangeAnswers(paymentsFromAbroad,"paymentsFromAbroad") }}
							</li>
							<li>
								<div class="column-two-thirds">9 - Declaration</div>
								{{ elements.EnterChangeAnswers(declaration,"declaration") }}
							</li>
	          </ul>
	          </ul>



	        <a href="/release2-1/yourCondition"><h2 class="heading-medium heading-highlight"><span class="h2">You and your condition</span></h2></a>
	        <ul>
						<li>
							<div class="column-two-thirds">10 - Professionals who know about your condition</div>
							{{ elements.EnterChangeAnswers(healthcareprofessional,"healthcareprofessional") }}
						</li>
	          <li>
							<div class="column-two-thirds">11 - Your conditions and disabilities</div>
							{{ elements.EnterChangeAnswers(conditionDetails,"conditionDetails") }}
						</li>
	          <li>
							<div class="column-two-thirds">12 - Your medication</div>
							{{ elements.EnterChangeAnswers(medications,"medications") }}
						</li>
	          <li>
							<div class="column-two-thirds">13 - Managing your medication</div>
							{{ elements.EnterChangeAnswers(manageMedications,"manageMedications") }}
						</li>
	          <li>
							<div class="column-two-thirds">14 - Your treatments and therapy</div>
							{{ elements.EnterChangeAnswers(treatments,"treatments") }}
						</li>
						<li>
							<div class="column-two-thirds">15 - Managing your Treatments</div>
							{{ elements.EnterChangeAnswers(manageTreatments,"manageTreatments") }}
						</li>
	          <li>
							<div class="column-two-thirds">16 - Side effects</div>
							{{ elements.EnterChangeAnswers(sideEffects,"sideEffects") }}
						</li>
	          <li>
							<div class="column-two-thirds">17 - Monitoring your condition</div>
							{{ elements.EnterChangeAnswers(monitoringCondition,"monitoringCondition") }}
						</li>
						<li>
							<div class="column-two-thirds">18 - Help monitoring your condition</div>
							{{ elements.EnterChangeAnswers(helpMonitoring,"helpMonitoring") }}
						</li>
	          <li>
							<div class="column-two-thirds">19 - Information you can send</div>
							{{ elements.EnterChangeAnswers(submitEvidence,"submitEvidence") }}
						</li>
	        	</ul>


					<a href="/release2-1/youAndYourHome"><h2 class="heading-medium heading-highlight"><span class="h2">You and your home</span></h2></a>
						<ul>
							<li>
								<div class="column-two-thirds">20 - Any aids and adaptations you have</div>
								{{ elements.EnterChangeAnswers(specialAids,"specialAids") }}
							</li>
							<li>
								<div class="column-two-thirds">21 - Getting up and moving around</div>
								{{ elements.EnterChangeAnswers(gettingUp,"gettingUp") }}
							</li>
	          <li>
							<div class="column-two-thirds">22 - Your sight</div>
							{{ elements.EnterChangeAnswers(sight,"sight") }}
						</li>
						<li>
							<div class="column-two-thirds">23 - Your hearing</div>
							{{ elements.EnterChangeAnswers(hearing,"hearing") }}
						</li>
	          <li>
							<div class="column-two-thirds">24 - Your speech</div>
							{{ elements.EnterChangeAnswers(speech,"speech") }}
						</li>
					</ul>


						<a href="/release2-1/caringForYourself"><h2 class="heading-medium heading-highlight"><span class="h2">Caring for yourself</span></h2></a>
						<ul>
	            <li>
								<div class="column-two-thirds">25 - Using the toilet</div>
								{{ elements.EnterChangeAnswers(toilet,"toilet") }}
							</li>
	            <li>
								<div class="column-two-thirds">26 - Washing yourself</div>
								{{ elements.EnterChangeAnswers(washing,"washing") }}
							</li>
	            <li>
								<div class="column-two-thirds">27 - Getting dressed </div>
								{{ elements.EnterChangeAnswers(gettingDressed,"gettingDressed") }}
							</li>
	            <li>
								<div class="column-two-thirds">28 - Making a hot meal from fresh ingredients</div>
								{{ elements.EnterChangeAnswers(hotMeal,"hotMeal") }}
							</li>
	            <li>
								<div class="column-two-thirds">29 - Eating and drinking</div>
								{{ elements.EnterChangeAnswers(eatingAndDrinking,"eatingAndDrinking") }}
							</li>
	          </ul>


	        <a href="/release2-1/leavingYourHome"><h2 class="heading-medium heading-highlight"><span class="h2">Leaving your home</span></h2></a>
	          <ul>
	            <li>
								<div class="column-two-thirds">30 - Getting out and walking about</div>
								{{ elements.EnterChangeAnswers(gettingOut,"gettingOut") }}
							</li>
	            <li>
								<div class="column-two-thirds">31 - Mixing with people</div>
								{{ elements.EnterChangeAnswers(mixing,"mixing") }}
							</li>
	          </ul>


	        <a href="/release2-1/makingSenseOfThings"><h2 class="heading-medium heading-highlight"><span class="h2">Making sense of things</span></h2></a>
	          <ul>
	            <li>
								<div class="column-two-thirds">32 - Planning a local journey</div>
								{{ elements.EnterChangeAnswers(localJourney,"localJourney") }}
							</li>
	            <li>
								<div class="column-two-thirds">33 - Following a route</div>
								{{ elements.EnterChangeAnswers(somewhereNeverBeenBefore,"somewhereNeverBeenBefore") }}
							</li>
	            <li>
								<div class="column-two-thirds">34 - Understanding written information</div>
								{{ elements.EnterChangeAnswers(understanding,"understanding") }}
							</li>
	            <li>
								<div class="column-two-thirds">35 - Dealing with money</div>
								{{ elements.EnterChangeAnswers(money,"money") }}
							</li>
							<li>
								<div class="column-two-thirds">36 - Additional Information</div>
								{{ elements.EnterChangeAnswers(additionalInfo,"additionalInfo") }}
							</li>
	          </ul>

						<h2 class="heading-medium heading-highlight"><span class="h2">Final section</span></h2>
						<ul>
							<li>
						<div class="column-two-thirds">37 - Check your answers</div>
						{{ elements.EnterChangeAnswers(checkYourAnswers,"checkYourAnswers") }}
					</li>
					<li>
				<div class="column-two-thirds">38 - Submit application</div>
				{{ elements.EnterChangeAnswers(submitApplication,"submitApplication") }}
			</li>
			<li>
		<div class="column-two-thirds">39 - Thank You Page</div>
		{{ elements.EnterChangeAnswers(thankYou,"thankYou") }}
	</li>
				</ul>

				<h2 class="heading-medium heading-highlight"><span class="h2">Additional Pages</span></h2>
				<ul>
					<li>
				<div class="column-two-thirds">A1 - Enter your email page</div>
				{{ elements.EnterChangeAnswers(emailLogin,"emailLogin") }}
			</li>
			<li>
		<div class="column-two-thirds">A2 - Check your email page</div>
		{{ elements.EnterChangeAnswers(checkYourEmail,"checkYourEmail") }}
	</li>
	<li>
<div class="column-two-thirds">A3 - Resume your application page</div>
{{ elements.EnterChangeAnswers(resumeApplication,"resumeApplication") }}
</li>
<li>
	<div class="column-two-thirds">A4 - Timeout page</div>
	{{ elements.EnterChangeAnswers(timeoutPage,"timeoutPage") }}
</li>
<li>
<div class="column-two-thirds">A5 - Trying to access previously sent application page</div>
{{ elements.EnterChangeAnswers(applicationSent,"applicationSent") }}
</li>
<li>
	<div class="column-two-thirds">A6 - Cookies page</div>
	{{ elements.EnterChangeAnswers(cookiesPage,"cookiesPage") }}
</li>
		</ul>

	<h2 class="heading-medium heading-highlight"><span class="h2">Error Pages</span></h2>
		<ul>
			<li>
		<div class="column-two-thirds">E1 - Something's gone wrong page</div>
		{{ elements.EnterChangeAnswers(somethingGoneWrong,"somethingGoneWrong") }}
	</li>
	<li>
<div class="column-two-thirds">E2 - Page cannot be found page</div>
{{ elements.EnterChangeAnswers(pageNotFound,"pageNotFound") }}
</li>
</ul>

<h2 class="heading-medium heading-highlight"><span class="h2">Check your answers - example pages</span></h2>
<ul>
	<li>
<div class="column-two-thirds">C1 - Check your answers - full</div>
{{ elements.EnterChangeAnswers(checkAnswersFull,"checkAnswersFull") }}
</li>
<li>
<div class="column-two-thirds">C2 - Check your answers - minimal answers</div>
{{ elements.EnterChangeAnswers(checkAnswersMinimal,"checkAnswersMinimal") }}
</li>
</ul>

						<div class="column-two-thirds">
						    <a href="/" class="link-back">Back</a>
							</div>
						</div>

			</div>


      </form>
	</div>

</main>

{% endfor %}
{% endfor %}
{% endfor %}
{% endblock %}
