{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

<main id="content" role="main">

	<div class="grid-row">
			<div class="column-two-thirds">
				<br>
				<h1 class="heading-large">Apply for PIP<br>Yorkshire Service Centre Version</h1>


				<h2 class="heading-medium">Customer View - Release 2.1</h2>
				<ul>
					<li><a href="/release2-1/yscMenu">Release 2.1 Yorkshire Service Centre Menu</a></li>
				</ul>

				<h2 class="heading-medium">Customer View - Release 2.2</h2>
				<ul>
					<li><a href="#">To do</a></li>
				</ul>


			</div>
			<div class="column-third">
				<h2 class="heading-medium">Useful pages</h2>
			    <ul>
			    	<li><a href="/release2-1/emailLogin">Enter your email page</a>
							<li><a href="/release2-1/checkYourEmail">Check your email page</a>
								<li><a href="/release2-1/resumeApplication">Resume your application page</a>
									<li><a href="/release2-1/thankYou">Thank you page</a>
										<li><a href="/release2-1/timeoutPage">Timeout page</a>
											<li><a href="/release2-1/cookiesPage">Cookies page</a>
			    </ul>

				</div>
				<div class="column-third">
					<h2 class="heading-medium">GOV.UK pages</h2>
						<ul>
							<li><a href="/release2-1/overview">Overview</a>
								<li><a href="/release2-1/eligibility">Eligibility</a>
									<li><a href="/release2-1/the-application-process">How you're assessed</a>
										<li><a href="/release2-1/apply">Apply</a>
											<li><a href="/release2-1/report-a-change">If your circumstances change</a>
						</ul>


			</div>
		</div>


</main>

{% endblock %}
